@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.lib-container {
    background-color: #f4f4f5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    justify-items: center;
    align-items: center;
}

.logo {
    background-color: #fafafa;
    font-size: 40px;
    font-weight: 700;
    padding: 10px 30px;
    height: 80px;
    box-sizing: border-box;
    justify-self: stretch;
}

.books {
    min-height: calc(100vh - 80px);
}

.book-item {
    background-color: #e4e4e7;
    font-size: 25px;
    font-weight: 700;
    width: 700px;
    border: 3px solid #a1a1aa;
    border-radius: 35px / 50%;
    padding: 20px 0px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-book {
    background-color: #e4e4e7;
    font-size: 35px;
    font-weight: 700;
    height: 70px;
    width: 700px;
    border: 3px solid #a1a1aa;
    border-radius: 35px / 50%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-book:hover {
    background-color: #d4d4d8;
}

.hidden-background {
    display: none;
}

.background {
    background-color: #27272acc;
    width: 100%;
    height: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-form {
    background-color: #e4e4e7;
    width: 400px;
    height: 400px;
    border-radius: 25px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
}

.book-form > div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    justify-items: start;
    align-items: center;
}

div > label {
    font-size: 34px;
    font-weight: 700;
    align-self: end;
}

div > input {
    font-family: inherit;
    font-size: 24px;
    height: 65%;
    width: 390px;
}

.book-form > div.checkbox-container {
    display: flex;
    align-items: center;
}

.book-form > div.checkbox-container > label {
    font-size: 30px;
    align-self: center;
}

.checkbox-container > input {
    appearance: none;
    background-color: white;
    height: 1em;
    width: 1em;
    border: 1px solid #71717a;
    position: relative;
}

.checkbox-container > input::before {
    content: url(icons/check.svg);
    position: absolute;
    transform: scale(.58);
    right: -0.55em;
    top: -0.55em;
    visibility: hidden;
}

.checkbox-container > input:checked::before {
    visibility: visible;
}

#add-book-btn {
    font-family: inherit;
    font-size: 34px;
    font-weight: 700;
    background-color: inherit;
}